doctype
html
  head
    title= "mL"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div#head
        h1= "mL"
      nav#menu
        navbtn
          a(href="/") home
        navbtn
          a(href="/new") new
        navbtn
          a(href="/review") review
    section#wrapper
        block content
    footer#foot
      p created by Meagan Sullivan, 2017
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/global.js')