doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
    //
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact
          li
            a(href="/newuser") Make Account
    section#wrapper
        block content
        block footer 
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/global.js')