@font-face {
  font-family: 'quicksandregular';
  src: url('../fonts/quicksandregular-webfont.woff2') format('woff2'),
       url('../fonts/quicksandregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font: 14px 'quicksandregular', 'Helvetica';
	background: #7ACCE3;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
}

  #head {
    text-align: center;
    background: #fff;
    color: #979696;
    height: 80px;
    line-height: 70px;
  }

  #foot {
    width: 100%;
    height: 40px;
    text-align: center;
    display: block;
    background: #979696;
    line-height: 40px;
    position:absolute;
    bottom:0;
  }

  #menu {
    width: 100%;
    height: 40px;
    text-align: center;
    display: block;
    background: #979696;
  }
    #menu navbtn {
      float: center;
    }
      #menu navbtn a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding-left: 60px;
        padding-right: 60px;
        line-height: 40px;
      }

  h1 {
    margin:0 0 .5em 0;
    font-size: 50px;
  }

  h2 {
    margin:0 0 .5em 0;
  }

  p {
    margin: 0;
  }

  #wrapper {
	  width: 920px;
	  text-align: center;
	  margin-left: auto;
	  margin-right: auto;
	  background: #979696;
    padding: 20px;
  }

  #userList {
	  margin:0 0 30px 0;
  }
	  #userList table {
		  border-collapse:separate;
		  border-spacing:1px;
		  background:#CCC;
	  }
		  #userList table th {
			  background:#EEE;
			  font-weight:600;
			  padding:10px 20px;
			  text-align:center;
		  }
		  #userList table tbody {
			  padding:0; margin:0;
			  border-collapse:collapse;
			  border-spacing:0px;
		  }
			  #userList table td {
				  background:#FFF;
				  padding:5px 10px;
				  text-align:center;
			  }

  #userInfo {
	  width:250px;
	  position:absolute;
	  top:0; left:0;
  }
	  #userInfo p {
		  padding:15px;
		  border:1px solid #CCC;
		  background:rgba(80,120,255,0.05);
	  }

  fieldset {
	  border:0;
	  padding:0; margin:0;
  }
    textarea {
      width: 95%;
    }

  #calendar {
    padding-top: 30px;
  }
